/* GENERAL */
* {
  box-sizing: border-box; }

body {
  text-align: center;
  background: #1C2833;
  margin: 50px; }

.main-container {
  position: relative;
  width: 100%;
  margin: 20px auto 0 auto;
  padding: 40px;
  border-radius: 10px 10px 0 0;
  background: white; }

.home-text-display, .results-text-display {
  padding: 20px;
  margin: 20px auto;
  border: 5px solid #1C2833;
  font-size: 1.5em; }
  .home-text-display h2, .results-text-display h2 {
    font-family: "Oswald", sans-serif; }
  .home-text-display p, .results-text-display p {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif; }

.start, .next, .finish, .restart, .search, .add-search {
  font-size: 1.5em;
  margin: 0 auto;
  border: none;
  padding: 10px 60px;
  margin: 10px;
  color: white;
  background: #C1272D;
  box-shadow: 5px 5px 0px #1C2833; }

/* HOME VIEW */
header {
  margin: 0 auto; }
  header .header-img {
    margin: 0 auto;
    width: 100%; }

.start:active, .next:active {
  transform: translateY(4px); }

.illustration {
  width: 100%; }

.placeholder {
  width: 95%;
  height: 450px;
  margin: 0 auto;
  background: #888; }

/* QUESTION VIEW */
.question-display {
  padding: 20px;
  margin: 20px auto;
  background: #1C2833;
  font-size: 1.5em;
  color: white; }
  .question-display h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 2em; }

.question-progress {
  width: 100%;
  margin: 10px auto -10px auto; }
  .question-progress img {
    margin-bottom: -15px; }

ul {
  list-style: none;
  padding: 0;
  margin: 20px; }

li {
  padding: 10px;
  margin: 20px;
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  background: white;
  color: #1C2833; }

.chosen {
  color: white;
  background: #C1272D; }

.next {
  box-shadow: 5px 5px 0px white; }

/* RESULTS VIEW */
.results-view {
  width: 95%;
  margin: 0 auto; }

.result-item {
  height: 950px;
  border: 5px solid #1C2833;
  background-size: cover;
  background-position: center center;
  position: relative; }

p.result-title {
  position: absolute;
  bottom: 0;
  font-size: 50px;
  background-color: rgba(193, 39, 45, 0.75);
  width: 100%;
  padding: 20px;
  color: white;
  margin: 0;
  font-family: "Open Sans", sans-serif; }

a.result-link {
  overflow: auto;
  margin-bottom: 20px;
  display: block; }

/* ADDITIONAL RESULTS */
.genre {
  font-size: 1em;
  margin: 0 auto;
  border: none;
  padding: 10px;
  margin: 10px;
  color: white;
  background: #1C2833; }

/* FOOTER */
footer {
  background: #C1272D;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  border-radius: 0 0 20px 20px;
  font-size: .9em; }

.fa {
  color: white;
  margin: 10px; }

@media screen and (max-width: 1023px) and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .main-container {
    width: 90%; }

  footer {
    width: 90%;
    margin: 0 auto; }

  a:hover {
    color: #C1272D; } }
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .main-container {
    width: 60%; }

  footer {
    width: 60%;
    margin: 0 auto; }

  .start, .next, .finish, .restart, .search, .add-search {
    font-size: 1em; }

  .home-text-display, .results-text-display {
    font-size: 1em; }

  .question-display {
    font-size: 1em; }

  p.result-title {
    font-size: 1em; }

  .result-item {
    display: inline-block;
    height: 540px;
    width: 340px;
    margin: 10px; }

  a.result-link {
    display: inline; }

  a:hover {
    color: #C1272D; } }

/*# sourceMappingURL=style.css.map */
