/* GENERAL */

$red: #C1272D;
$gray: #888888;
$darkgray: #1C2833;

$open: 'Open Sans', sans-serif;
$oswald:'Oswald', sans-serif;

* {
	box-sizing: border-box;
}

body {
	text-align: center;
	background: $darkgray;
	margin: 50px;
}

.main-container {
	position: relative;
	width: 100%;
	margin: 20px auto 0 auto;
	padding: 40px;
	border-radius: 10px 10px 0 0;
	background: white;
}

.home-text-display, .results-text-display {
	padding: 20px;
	margin: 20px auto;
	border: 5px solid $darkgray;
	font-size: 1.5em;
	h2 {
		font-family: $oswald;
	}
	p {
		font-size: 1.5em;
		font-family: $open;
	}
}

/* HOME VIEW */

header {
	margin: 0 auto;
	.header-img {
	margin: 0 auto;
	width: 100%;
	}
}

.start, .next, .finish, .restart, .search, .add-search {
	font-size: 1.5em;
	margin: 0 auto;
	border: none;
	padding: 10px 60px;
	margin: 10px;
	color: white;
	background: $red;
	box-shadow: 5px 5px 0px $gray;
}

.start:active, .next:active {
	transform: translateY(4px);
}

.illustration {
	width: 100%;
}

.placeholder {
	width: 95%;
	height: 450px;
	margin: 0 auto;
	background: #888;
}

/* QUESTION VIEW */

.question-display {
	padding: 20px;
	margin: 20px auto;
	border: 5px solid $darkgray;
	font-size: 1.5em;
	h1 {
		font-family: $oswald;
		font-size: 2em;
	}
}

.question-progress {
	width: 100%;
	margin: 10px auto -10px auto;
	img {
		margin-bottom: -20px;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 20px;
}

li {
	padding: 10px 5px;
	margin: 20px;
	font-size: 1.7em;
	font-family: $open;
}

.chosen {
	color: white;
	background: $red;
}

/* RESULTS VIEW */

.results-view { 
	width: 95%;
	margin: 0 auto;
}

.result-item {
    height: 950px;
    border: 5px solid black;
    background-size: cover;
    background-position: center center;
    position: relative;
}

p.result-title {
    position: absolute;
    bottom: 0;
    font-size: 50px;
    background-color: rgba(193,39,45,0.75);
    width: 100%;
    padding: 20px;
    color: white;
    margin: 0;
    font-family: $open;
}

a.result-link {
    overflow: auto;
    margin-bottom: 20px;
    display: block;
}


/* ADDITIONAL RESULTS */

.genre {
	font-size: 1.5em;
	margin: 0 auto;
	border: none;
	padding: 30px;
	margin: 10px;
	color: white;
	background: $darkgray;
}

/* FOOTER */

footer {
	background: $red;
	width: 100%;
	margin: 0;
	padding: 10px 20px;
	border-radius: 0 0 20px 20px;
	font-size: .9em;
}

.fa {
	color: white;
}

/*min 425 - max 375

.header-img height 200px
.main-container margin 0;

.home-textdisplay p 1 em font-size

min 426 @ 693 max
.header-img height 400px;

desktop 

	position: relative;
	width: 60%;
	margin: 10px auto 0 auto;
	padding: 40px;
	border-radius: 10px 10px 0 0;
	background: white;
}*/

